<div class="page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('@TagMatique') %></h1>
        <div id="search-container"></div>
        <h3  class="container"><%= __('Trending Right Now') %></h3>
    </div>
    <div class="main container clearfix">
      <div id="hashtags-container" class="row">
      </div>
    </div>
</div>
